page-past {
    .button-md {
        border-radius: 4px;
        overflow: hidden;
        height: 2.6rem;
        text-transform: uppercase;
        color: #fff;
        font-size: 10px;
        background-color: #374699;
        margin: 0.4rem 0.2rem;
        padding: 0 1.1em;
    }
    .checkbox-md .checkbox-icon {
        border-radius: 15px;
    }
    .card {
        font-size: 10px
    }
}