page-delhistory {
    .toolbar-background {
        color: #374699;
        background-color: #fff !important;
        -webkit-box-shadow: 0px !important;
        box-shadow: 0px !important;
        border-bottom: 0px !important;
    }
    .tool {
        color: #374699;
        background-color: #fcd403 !important;
        -webkit-box-shadow: 0px !important;
        height: 56px;
        width: 100%;
        box-shadow: 0px !important;
        border-bottom: 0px !important;
    }
}